.searchbar {
  width: 800px;
}
.searchbar .form-control {
  outline-color: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.links,
.icon {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  padding: 0 10px;
}

.links a {
  padding: 0 5px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #17a2b8;
  transition: 0.5s;
}

.icon i {
  padding: 0;
  color: #17a2b8;
  font-size: 30px;
  text-decoration: none;
  z-index: 1;
}

.icon i:hover {
  color: red;
  transition: 1s;
}

.grid-container {
  margin: 0 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}

.card {
  width: 100%;
}

.card img {
  overflow: hidden;
  height: 200px;
  width: 120px;
  object-fit: cover;
}

.card-link {
  color: #17a2b8;
  text-decoration: none;
}

.card-link:hover {
  color: #0d606d;
  transition: 1s;
}
