.card {
  width: 100%;
}

.card img {
  overflow: hidden;
  height: 200px;
  width: 120px;
  object-fit: cover;
}

.card-link {
  color: #17a2b8;
  text-decoration: none;
}

.card-link:hover {
  color: #0d606d;
  transition: 1s;
}

.icon {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  padding: 0 10px;
}

.icon i {
  padding: 0;
  color: #17a2b8;
  font-size: 30px;
  text-decoration: none;
  z-index: 1;
}

.icon i:hover {
  color: red;
  transition: 1s;
}
